@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
  --primary: rgb(0, 225, 255);
  --white: #fff;
  --white-transparent: rgb(255, 255, 255, 0.5);
  --grey: #909090;
  --black: #121212;
  --black-medium: #2c2c2c;
  --black-transparent: rgb(18, 18, 18, 0.5);
}
body {
  font-family: 'Raleway', sans-serif;
}
/***** BUTTONS *****/
.btn-border {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  padding: 0.5rem 2rem;
  border-radius: 0px;
  transition: 0.5s all;
}
.btn-border:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
}
.btn-circle {
  border-radius: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid var(--black);
  color: var(--black);
  background-color: var(--white-transparent);
}
/***** NAVBAR *****/
.navbar {
  height: 10vh;
  width: 100%;
  /*position: absolute;
  top: 0px;
  z-index: 1;*/
  background-color: rgba(42, 42, 42, 0.9);
  display: flex;
  color: var(--white);
}
.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  color: var(--grey);
  font-size: 0.8rem;
  border-top: 1px solid transparent;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--white);
  border-top: 1px solid var(--white);
}
/***** HOME PAGE *****/
#homepage {
  height: 100vh;
}
/***** CAROUSEL *****/
.carousel-inner {
  z-index: 0;
}
.carousel-item img {
  height: 100vh;
}
.carousel-item-homepage img {
  filter: brightness(70%);
}
.carousel-caption {
  top: 35%;
  text-align: left;
}
.carousel-caption h2 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: var(--black);
  color: var(--white);
}
/***** COLLAPSE *****/
#collapse-container {
  position: absolute;
  top: 15vh;
  left: 50%;
  z-index: 1;
}
.collapse .card-body {
  background-color: var(--black-transparent);
  color: var(--white);
  position: absolute;
  top: -5vh;
  left: -50vw;
  width: 40vw;
  border-radius: 0;
}
#project-info {
  padding-top: 10vh;
  min-height: 90vh;
  margin: 0;
}
#project-info h3 {
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1.2rem;
}
#project-info h4 {
  text-transform: uppercase;
  padding-top: 1rem;
  font-size: 1rem;
}
.project-info-details p {
  line-height: 0.7rem;
}
